Project Cursor Test/deal-curation-n8n.json
{
  "nodes": [
    {
      "parameters": {
        "path": "deal-curation",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "email": "={{$json[\"email\"]}}",
        "subject": "New Real Estate Deal Curation Submission",
        "html": "<p>New submission received:</p><ul><li><b>Email:</b> {{$json[\"email\"]}}</li><li><b>City:</b> {{$json[\"city\"]}}</li><li><b>Investment Range:</b> {{$json[\"investmentRange\"]}}</li><li><b>Strategy:</b> {{$json[\"strategy\"]}}</li></ul>",
        "options": {}
      },
      "id": "MailerLite",
      "name": "MailerLite",
      "type": "n8n-nodes-base.mailerlite",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "statusCode": 200,
        "sendData": true,
        "options": {},
        "responseMode": "lastNode"
      },
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "MailerLite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MailerLite": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "DealCurationWorkflow"
} 